@model CRUDLocadora.Models.FiltroLocadoraModel
@{
    ViewData["Title"] = "Veículos";
}
<body>
    <section class="content">
        <section class="content-header">
            <h4>Veículos</h4>
        </section>
        <div class="box">
            <div class="box-body">
                <form action="BuscarVeiculo" method="post">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <div class="form-group">
                                <label for="Modelo">Modelo</label>
                                @Html.DropDownListFor(x => x.IdModelo, new SelectList(Model.ListaModelo, "IdModelo", "NomeModelo"), "Informe o modelo", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <label for="Fabricante">Fabricante</label>
                                @Html.TextBoxFor(x => x.NomeFabricante, new { @class = "form-control", placeholder = "Nome Fabricante" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <label class="control-label">&nbsp;</label>
                            <button type="submit" class="btn btn-block btn-info btn-social" id="buscar"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <label class="control-label">&nbsp;</label>
                            <a asp-action="CadastrarVeiculo" class="btn btn-block btn-info btn-social"><i class="fa fa-search"></i> Novo Veículo</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Fabricante</th>
                        <th>Ano Fabricação</th>
                        <th>Ano Modelo</th>
                        <th>Placa</th>
                        <th>Chassi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var veiculo in Model.ListaVeiculo)
                    {
                        <tr>
                            <td>@veiculo.NomeModelo</td>
                            <td>@veiculo.Fabricante</td>
                            <td>@veiculo.AnoFabricacao</td>
                            <td>@veiculo.AnoModelo</td>
                            <td>@veiculo.Placa</td>
                            <td>@veiculo.Chassi</td>
                            <td>
                                <a href="/Locadora/EditarVeiculo?idVeiculo=@veiculo.IdVeiculo" class="btn btn-primary" target="_blank">Editar</a>
                                <a asp-action="ExcluirVeiculo" asp-route-idVeiculo="@veiculo.IdVeiculo" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</body>